:root {
  --btn-color: #d5966c;
  --text-color: #151515;
  --second-color: #444;
  --background-color: #ffffff;
}
body {
  background: var(--background-color);
  margin-top: 20px;
}
.container {
  max-width: 970px;
}
/* header --------
------------------------------------*/
h1 {
  font-family: Big Shoulders Display;
  font-size: 96px;
  color: var(--background-color);
  text-align: left;
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 0;
  line-height: 88px;
  width: 600px;
}
.text-box {
  background: var(--text-color);
  padding-left: 40px;
  padding-top: 5px;
  width: 350px;
}
.col-md-6 {
  background-image: url("images/desktop/image-hero.jpg");
  height: 850px;
}
.col-md-6 couple-pic {
  padding-left: 0px;
}
.underneath {
  font-family: Big Shoulders Display;
  font-size: 96px;
  color: var(--text-color);
  text-align: left;
  padding-left: -15px;
  padding-top: 85px;
  line-height: 88px;
  background-image: none;
  background-color: transparent;
}
.over {
  font-family: Big Shoulders Display;
  font-size: 96px;
  text-align: left;
  padding-left: -15px;
}
.col-md-1 p {
  font-family: Outfit;
  font-size: 22px;
  line-height: 32px;
  padding-top: 150px;
  margin-left: -90px;
  opacity: 60%;
  width: 280px;
  z-index: -5;
}
.hero-btn-dark {
  font-family: Big Shoulders Display;
  font-size: 16px;
  font-weight: bold;
  color: var(--background-color);
  background: var(--text-color);
  margin-left: -90px;
}
.hero-btn-light {
  color: #fff;
  background-color: #d5966c;
  margin-left: 14px;
  margin-top: -65px;
}

.btn :hover {
  background: var(--btn-color);
}
.middle-box h3 {
  font-family: Big Shoulders Display;
  font-size: 30px;
  color: var(--text-color);
  text-align: left;
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 0;
  margin-top: 20px;
}

.middle-text p {
  font-family: Outfit;
  font-size: 22px;
  opacity: 60%;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 10px;
}
.middle-box2 col-md-5 {
  padding-left: 0;
}
.middle-box2 h3 {
  font-family: Big Shoulders Display;
  font-size: 30px;
  color: var(--background-color);
  background: var(--text-color);
  text-align: left;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 0;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 10px;
}

#gallery1 {
  padding-top: 60px;
  margin-top: 10px;
  margin-left: 80px;
}
.middle-box2 {
  margin-top: 10px;
  padding-left: 10px;
}
#gallery2 {
  padding-top: 30px;
  margin-left: 30px;
  position: left;
}
#gallery3 {
  padding-top: 10px;
  margin-left: 0px;
}
.bottom-box {
  background: var(--text-color);
  margin-top: 50px;
}
h5 {
  font-family: Big Shoulders Display;
  font-size: 16px;
  color: var(--background-color);
  padding-top: 30px;
  padding-left: 40px;
}
.bottom-box p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 9px;
  color: var(--background-color);
  opacity: 50%;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 30px;
  background: var(--text-color);
  margin-right: 10px;
}
footer .website-link {
  color: var(--text-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
}

footer .website-link:hover {
  color: var(--btn-color);
}

footer .social-links a {
  color: var(--text-color);
  margin-top: 5px;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--text-color);
}

.github-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 10px;
  text-align: center;
}
